[! factor.client.routing "provide a way of identifying 'our domains' to allow our-origin? and therefore navigate-to-internal-href! to work"]
[factor.client.boot "provide a namespace to load config and start the application's system"]
[factor.server.boot "provide a namespace to load config and start the application's system"]
[factor.server.repl "pull out integrant.repl.state aspects for use in production (non-REPL) too"]
[factor.config factor.server.example "better way to 'require' app-provided DI/config"]
[factor.secrets "a way to read in secrets"]
[factor.server.pathom "built-in support for Pathom"]
[factor.client.sente "client-side support for Sente"]
[factor.client.pathom "built-in support for Pathom"]
[factor.types "split type definitions into domain-specific namespaces"]
[factor.client.types factor.client.dom "split type definitions into domain-specific namespaces, like factor.client.dom"]
