[! factor.client.routing "provide a way of identifying 'our domains' to allow our-origin? and therefore navigate-to-internal-href! to work"]
[factor.pathom.client "split out the sente aspect into its own namespace?"]
[factor.pathom.client "client-side resolvers for Pathom that can cache or intercept if they know how to respond to an EQL query"]
[factor.system "see if server-side Clojure can use https://github.com/palletops/ns-reload instead of tools.namespace.repl"]
[factor.client.routing "switch to reitit.frontend from react-router"]
[factor.pathom.server "built-in support for Pathom"]
[factor.client.boot "provide a namespace to load config and start the application's system"]
[factor.client.config "provide a client-side config loader/provider"]
[factor.server.boot "provide a namespace to load config and start the application's system"]
[factor.server.repl "pull out integrant.repl.state aspects for use in production (non-REPL) too"]
[factor.config factor.server.example "a better way to ensure that the library /consuming/ app provide some segment of the config map"]
[factor.secrets "a way to read in secrets"]
[factor.client.sente "client-side support for Sente"]
[factor.types "split type definitions into domain-specific namespaces"]
[factor.client.types factor.client.dom "split type definitions into domain-specific namespaces, like factor.client.dom"]
