[factor.config factor.server.example "better way to 'require' app-provided DI/config"]
[factor.secrets "a way to read in secrets"]
[factor.server.pathom "built-in support for Pathom"]
[factor.client.sente "client-side support for Sente"]
[factor.client.pathom "built-in support for Pathom"]
