{:linters
 {:unused-namespace
  {:exclude [factor.types
             factor.client.types
             crafter
             react]}

  :unresolved-namespace
  {:exclude [shadow.cljs.devtools.server.runtime
             shadow.cljs.devtools.server.worker
             shadow.cljs.devtools.server.supervisor
             shadow.cljs.devtools.api
             web.shadow]}

  :unresolved-symbol
  {:exclude [(meander.epsilon/find)
             (meander.epsilon/search)
             (meander.epsilon/match)
             (meander.epsilon/rewrite)
             (meander.strategy.epsilon/find)
             (meander.strategy.epsilon/match)
             (meander.strategy.epsilon/rewrite)]}

  :unsorted-required-namespaces
  {:level :warning}

  :type-mismatch
  {:level :warning}}

 :hooks
 {:analyze-call {factor.client.react/prop hooks.react/prop}}

 :lint-as
 {factor.examples/defexample             clojure.core/def
  
  factor.types/def                       clojure.spec.alpha/def
  factor.types/defn                      clojure.core/defn
  factor.types/defn-                     clojure.core/defn-
  
  factor.client.defcards/defcard         clj-kondo.lint-as/def-catch-all
  
  factor.client.react/defnc              clojure.core/defn
  
  factor.client.react/defcontext         clojure.core/def
  
  foundation.icons/deficon               clojure.core/def
  
  helix.core/defnc                       clojure.core/defn

  promesa.core/let                       clojure.core/let
  
  com.wsscode.pathom.connect/defresolver clojure.core/defn
  com.wsscode.pathom.connect/defmutation clojure.core/defn
  
  com.fulcrologic.guardrails.core/>defn  clojure.core/defn
  com.fulcrologic.guardrails.core/>def   clojure.spec.alpha/def
  
  methodical.core/defmulti               clojure.core/defmulti
  methodical.core/defmethod              clojure.core/defmethod
  
  com.rpl.specter/defcollector           clojure.core/defn
  com.rpl.specter/defdynamicnav          clojure.core/defn
  com.rpl.specter/defmacroalias          clojure.core/def
  com.rpl.specter/defnav                 clojure.core/defn
  com.rpl.specter/defrichnav             clojure.core/defn
  com.rpl.specter/declarepath            clojure.core/def
  com.rpl.specter/providepath            clojure.core/def}}
