{;; factor.server.sente
 :factor.server.sente/server-options
 {:user-id :session-id}
 
 :factor.server.sente/server        
 {:options #ig/ref :factor.server.sente/server-opts}
 
 :factor.server.sente/handler       
 {:server  #ig/ref :factor.server.sente/server
  :context #ig/ref :factor/context}

 ;; factor.server.routing
 
 ;; This MUST be overridden -- each origin should be a regex of the domain, as below.
 :factor.server.routing/cors-configuration
 {:origins [#_ #"https://tekacs.com"]}
 
 :factor.server.routing/exception-handlers
 {}

 :factor.server.routing/handlers
 {:context #ig/ref :factor/context
  :sente-server #ig/ref :factor.server.sente/server}
 
 :factor.server.routing/routes  
 {:handlers #ig/ref :factor.server.routing/handlers}

 :factor.server.routing/router  
 {:routes #ig/ref :factor.server.routing/routes
  :exception-handlers #ig/ref :factor.server.routing/exception-handlers
  :cors-configuration #ig/ref :factor.server.routing/cors-configuration}
 
 :factor.server.routing/handle
 {:router #ig/ref :factor.server.routing/router}
 
 ;; factor.server.http
 :factor.server.http/server
 {:port    #long #or [#env PORT 9090]
  :handler #ig/ref :factor.server.routing/handle}}
